.form-prato {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

div.mensagemErro {
  padding: 20px;
  span {
    color: red;
    font-size: 10pt;
    font-weight: bold;
  }
}
