<mat-toolbar color='primary'>
    <div class="titulo-container">
        <span class="titulo-secao">
            {{titulo}}
        </span>
    </div>
</mat-toolbar>
<mat-card>

    <mat-card-header>
        <mat-card-title>Dados</mat-card-title>
    </mat-card-header>
    <form class="form-restaurante">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="nome" type="text" name="nome" [(ngModel)]="restaurante.nome" />
        </mat-form-field>
    </form>
    <div class="mensagemErro" *ngIf="mensagemErro">
        <span>{{mensagemErro}}</span>
    </div>
    <a class="botao-cancelar" routerLink="/restaurantes" mat-button>
        <mat-icon>arrow_back</mat-icon> Cancelar
    </a>
    <button class="botao-salvar" (click)="salvarRestaurante()" mat-button>
        <mat-icon>save</mat-icon> Salvar
    </button>
</mat-card>